[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/doxygen-awesome-css"]
	path = vendor/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
